<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1><%= user.username %>'s Dashboard</h1><a href="/log-out">Logout</a>
    </header>
    <main>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <ul>
                <li>
                    <label for="file">Upload New File:</label>
                    <input type="file" id="file" name="file" accept=".jpeg, .jpg, .png, .wav, .mp3, .pdf, .doc, .docx, .txt" required>
                </li>
                <li>
                    <label for="upload_destination">Upload Destination: </label>
                    <select name="upload_destination" id="upload_destination">
                        <option value="Home">Home</option>
                        <% if ( locals.all_folders ) { %>
                            <% all_folders.forEach((folder) => { %>
                                <option value="<%= folder.id %>">📁 <%= folder.name %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </li>
                <li>
                    <button type="submit">Upload</button>
                </li>
            </ul>
        </form>
        <form action="/new-folder" method="post">
            <ul>
                <li>
                    <h2>Create New Folder</h2>
                </li>
                <li>
                    <label for="folder">Folder name:</label>
                    <input type="text" id="folder" name="folder" required>
                </li>
                <li>
                    <button type="submit">Create</button>
                </li>
            </ul>
        </form>  
        <section>
            <% if ( !locals.viewing_file ) { %>
                <% if ( locals.current_folders ) { %>
                    <h3>📂 Viewing Folder: <%= viewing_folder ? viewing_folder : 'Home' %></h3>
                    <div>
                        <h3>Folders within this destination</h3>
                        <% if (locals.viewing_folder) { %>
                            <a href="/dashboard">Back to home</a>
                        <% } %>
                    </div>
                    <ul>
                        <% current_folders.forEach((folder) => { %>
                            <li class="folder-li">
                                <div>
                                    <span>📁</span>
                                    <a href="/dashboard/folder/<%= folder.id %>?name=<%= folder.name %>"><%= folder.name %></a> 
                                    <form action="/rename-folder" method="post">
                                        <ul>
                                            <li>
                                                <input type="hidden" id="folder_id" name="folder_id" value="<%= folder.id %>">
                                            </li>
                                            <li>
                                                <label for="rename">Rename folder: </label>
                                                <input type="text" id="rename" name="rename" required>
                                            </li>
                                            <li>
                                                <button type="submit">Submit</button>
                                            </li>
                                        </ul>
                                    </form>
                                    <form action="/delete-folder" method="post">
                                        <input type="hidden" id="folder_id" name="folder_id" value="<%= folder.id %>">
                                        <button>DELETE</button>
                                    </form>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if (locals.files) { %>
                    <h3>Files within this destination</h3>  
                    <ul>
                        <% files.forEach((file) => { %>
                            <li class="file-li">
                                <a href="/dashboard/file/<%= file.id %>?name=<%= file.name %>">💾 <%= file.name %></a>
                                <form action="/download-file" method="get">
                                    <input type="hidden" id="file_id" name="file_id" value="<%= file.id %>">
                                    <button>Download</button>
                                </form>
                                <form action="/delete-file" method="post">
                                    <input type="hidden" id="folder_id" name="folder_id" value="<%= file.folderId %>">
                                    <input type="hidden" id="file_id" name="file_id" value="<%= file.id %>">
                                    <button>Delete</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
            <% } else { %>
                <h3>Viewing file details: <%= viewing_file.name %></h4>
                <div>
                    <p>Name: <%= viewing_file.name %></p>
                    <p>Size: <%= (viewing_file.size / 1048576 ).toFixed(2) %> <abbr title="megabytes">MB's</abbr></p>
                    <p>Type: <%= viewing_file.type %></p>
                    <p>Added: <%= viewing_file.created %></p>
                </div>
                <a href="javascript:history.back()">Back</a>
            <% } %>
        </section>          
    </main>
    <footer>

    </footer>
</body>
</html>